@import defines

table.calendar td ul li
	&.calendar-1
		background: #0085cf

nav.calendar-nav
	ul
		font-size: 1.2em
		width: 100%
		margin: 1.5em 0
		padding: 0
		overflow: auto

		li
			+box-sizing("border-box")
			display: block
			float: left
			width: 50%
			text-align: right

		a
			display: inline-block
			padding: 1px 5px
			margin-right: 8%

		li + li
			text-align: left
			padding-right: 0

			a
				margin-right: 0
				margin-left: 4%

		li + li:before
			content: "♦"
			color: #ccc
			width: 8%
			margin-left: -4%
			text-align: center
			display: inline-block

.content nav.calendar-nav + .table
	border: 1px solid #eee
	+border-radius(3px)
	margin-top: 2.7em
	padding: 1px


table.calendar
	position: relative
	padding: 0
	border-spacing: 0px

	tr:first-child td:first-child
		+border-top-left-radius(2px)

	tr:first-child td:last-child
		+border-top-right-radius(2px)

	tr:last-child td:first-child
		+border-bottom-left-radius(2px)

	tr:last-child td:last-child
		+border-bottom-right-radius(2px)

	td.empty
		background: rgba(#999, .1)
		span
			color: #ccc

	thead
		top: -2em
		left: 2px
		right: 2px
		position: absolute
		display: table

		tr
			display: table-row

		th
			background: none
			width: 101px
			border: 0
			color: #999
			font-weight: normal
			font-size: .8em

	th
		border: 0
		color: #999
		text-align: center
		font-size: 0.8em
		padding: 0

	td
		height: 90px
		width: 14.285%
		vertical-align: top
		font-size: 0.8em
		overflow: hidden
		position: relative

		&:hover
			overflow: visible

		> span
			display: block
			color: #666

	td:not(.empty):hover
		background: rgba(#f9ff4a, .15)

		&:hover ul
			width: auto
			right: auto
			max-height: 1000px
			min-width: 104px
			z-index: 1000

			span
				display: inline

			li:nth-child(3)
				display: none

			li:last-child
				display: block

			li:nth-child(n+4)
				display: block

	ul
		max-height: 70px
		overflow-y: hidden
		padding: 0
		margin: 0 auto
		position: absolute
		left: 2px
		right: 2px
		border: 1px solid #fff
		+border-radius(4px)

		li
			background: #154B84
			line-height: 1.4em
			white-space: nowrap
			overflow: hidden
			padding: 0 5px

			&.ends
				opacity: .6

			a
				color: #fff
				display: block
				overflow: hidden
				text-decoration: none
				padding: 3px 0px

				&:hover
					text-decoration: underline
					background: inherit

			&:first-child
				+border-top-radius(3px)

			&:last-child,
			&:nth-child(3)
				+border-bottom-radius(3px)
			&:hover
				background: rgba(#fff, .1)

			& + li
				border-top: 1px solid #306189

			&:nth-child(n+4)
				display: none

			&.more
				text-align: center
				padding-top: 0
				color: rgba(255, 255, 255, 0.6)
				padding-bottom: 6px
				line-height: 12px
				font-weight: bold
				font-size: 1.3em

.content .events-details
	margin: 0 0 1em 0
	padding: 0

	> li
		display: block
		margin: 2em 0 0 0
		padding: 0
		border-bottom: 1px solid #ddd

	.event
		overflow: auto

		h1
			font-weight: bold
			color: #555
			font-size: 1.2em
			margin: 0
			padding: .8em


		> ul
			+box-sizing(border-box)
			width: 40%
			margin: 0
			padding: 0
			border-top: 1px solid #eee
			float: left

			li
				padding: .8em 1em
				display: block

				&.date
					float: left

				&.time
					float: left
					border-left: 1px solid #eee

				&.location
					border-top: 1px solid #eee
					clear: both

		> div
			border-top: 1px solid #eee
			width: 60%
			+box-sizing(border-box)
			padding: .8em 1em
			float: left
			border-left: 1px solid #eee

		&:target
			background: #fefff3

			h1
				background: #fff
				color: #333
