@import "compass"

+global-reset
+reset-html5

@import "defines"

body
	background: #E7E7E7
	max-width: 1050px
	margin: 0px auto 0
	padding-top: 20px
	font-size: 10px
	font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif

header
	position: absolute
	height: 148px
	width: 1030px
	padding-top: 20px
	border-left: 1px solid #d9d9d9
	border-right: 1px solid #d9d9d9
	+box-shadow(#ddd 0px -1px 1px)
	+border-top-radius(2px)
	background: #f5f5f5

	h1
		width: 220px
		text-align: center

	a
		display: block

footer
	text-shadow: 0px 1px 0px #fff
	font-size: 1.1em
	color: #999
	clear: both
	width: 830px
	padding: 1.3em 0 2em 220px
	text-align: center

.searchbox
	position: absolute
	margin: 16px -489px 0 0
	right: 50%

	input
		width: 8em
		font-size: 1.6em
		+single-transition(width, .3s, ease-out)

		&:focus
			width: 15em
			+single-transition(width, .3s, ease-out)

.primary-navigation
	margin: -172px 20px -5px 220px
	@import "navigation"

.sidebar
	@import "sidebar"

body > section
	@import "content-container"

	&:nth-of-type(1)
		margin-top: 56px

.content
	@import "content"
	@import "forms"

.messages
	@import "messages"

@import "buttons"
@import "layouts"
@import "calendar"

form.edit-member
	overflow: auto

	fieldset:last-of-type
		border-bottom: 1px solid #eee

	> button:last-child
		float: right
		width: 7.5em
		margin-right: 0.85em

.edit-subscriptions
	.table
		border: 0
		padding: 0
		margin: 0

	table form
		padding: 0
		margin: 0

	table
		border-collapse: collapse
		thead
			display: none

		tr td
			padding-top: 0.4em
			vertical-align: middle
			border: 0
			border-top: 1px solid #eee
			border-bottom: 1px solid #eee

			> span
				color: #666

				&:before
					content: "— "
					padding: 0 .5em
					color: #bbb

		tr:only-child td
			border-top: 1px solid #eee
			border-bottom: 1px solid #eee

		td:last-child
			padding-top: 0
			width: 1%

		.empty td
			p
				margin: .6em .4em .4em
				text-align: center

	button
		width: 7.5em

	form
		padding: 0.3em 0.8em
		color: #666
		text-align: right
		
		select
			margin-left: .5em

		button[type=submit]
			margin-left: 1em

.mailing-list
	form
		padding: .5em 0.8em 0 0
		margin: -.5em 0 0 0
		overflow: auto

		p
			margin-left: 0
			margin-right: 0
			padding: 0
			padding-right: .8em
			color: #444

			em
				color: #000

		p + p
			border: 0

		.note
			font-size: .85em
			line-height: 1.4em
			max-width: 50em
			margin-top: .5em
			color: #666
			padding-left: 1.5em

			&:before
				margin-left: -.8em
				content: "* "
				color: red

		button
			width: 7.5em
			margin-top: -.2em
			float: right

.delete-member
	overflow: auto

	.button
		width: 7.5em
		float: right
		margin-right: 0.85em

.fixed
	@import "fixed"

