{% extends "inscriptions/base.html" %}

{% block page_title %}Conferma rimozione “{{ entry.full_name }}”{% endblock %}

{% block bodyid %}ticketcorner-remove-inscription{% endblock %}

{% block main-content %}
<p>Sei sicuro di voler rimuovere il nominativo “{{ entry.full_name }}” dalla tua iscrizione a “{{ inscription.list.event.title }}”?</p>

{% if inscription.inscriptionentry_set.count == 1 %}
<p>Questo è l'ultimo nominativo di questa iscrizione, se rimuovi questo nominativo la tua iscrizione verrà annullata completamente.</p>
{% endif %}

<div>
	<a class="button" href="{% url inscriptions.manage inscription_id=inscription.pk,auth=inscription.password %}"><span>No, annulla</span></a>
	<a class="button" href="?confirmed"><span>Si, rimuovi</span></a>
</div>
{% endblock %}
