{% extends "inscriptions/base.html" %}

{% block page_title %}Gestione dell'iscrizione a “{{ inscription.list.event.title }}”{% endblock %}

{% block bodyid %}ticketcorner-manage{% endblock %}

{% block main-content %}
{% if message %}
<div class="message">
	<p>{{ message }}</p>
</div>
{% endif %}

{% if subscription %}
<form action="" method="post" accept-charset="utf-8">
	{% csrf_token %}
	{% endif %}
	<table class="ticketcorner-inscriptions">
		<tr>
			<th class="rank">#</th>
			<th colspan="2" class="name">Nominativo</th>
			<th class="status">Stato dell'iscrizione</th>
			<th></th>
		</tr>

		{% for name in inscription.inscriptionentry_set.all %}
		<tr>
			<td class="rank" title="Posizione in lista. {% if name.enrolled %}
				La partecipazione di questo nominativo è confermata.
				{% elif name.queue == 1 %}
				Se si libera ancora 1 posto, la partecipazione di questo nominativo verrà confermata.
				{% else %}
				Se si liberano ancora {{ name.queue }} posti, la partecipazione di questo nominativo verrà confermata.
				{% endif %}">{{ name.rank }}</td>
			<td colspan="2" class="name">{{ name.full_name }}</td>
			{% if name.enrolled %}
			<td class="status confirmed">confermato</td>
			{% else %}
			<td class="status waiting">in attesa</td>
			{% endif %}
			<td><a href="{% url inscriptions.remove inscription_id=inscription.id,auth=inscription.password,name_id=name.id %}" class="button"><span>Rimuovi</span></a></td>
		</tr>
		{% endfor %}
		{% if subscription %}
		<tr>
			<td></td>
			<td class="inputs">{{ subscription.first_name }}</td>
			<td class="inputs">{{ subscription.last_name }}</td>
			<td class="errors">{{ error }} {{ subscription.non_form_errors }}</td>
			<td><button type="submit"><span>Aggiungi</span></button></td>
		</tr>
		{% endif %}
	</table>
	{% if subscription %}
</form>
{% endif %}
{% endblock %}
