{% extends "inscriptions/base.html" %}

{% block title %}Iscrizione a “{{ event.name }}”{% endblock %}

{% block bodyid %}inscription{% endblock %}

{% block content -%}
<section>
<h1>Iscrizione a “{{ event.name }}”</h1>

<p>Per iscriverti all'evento “{{ event.name }}” riempi il formulario sottostante. Ricorda che inviando il formulario verrai
in primo luogo aggiunto alla lista d'attesa relativa all'evento e, posti disponibili permettendo, ti verrà anche
confermata l'effettiva iscrizione.</p>

<p>Dopo aver inviato il formulario, ti verrà inviata un'email contenente un link che ti permetterà di modificare la tua
richiesta d'iscrizione.</p>

<form action="" method="post" accept-charset="utf-8">
	{% csrf_token %}

	<fieldset class="contact">
		<legend>Pt. 1: Contatto per l'iscrizione</legend>

		{{ inscription_form.contact|safe }}

		{{- inscription_form.non_form_errors|safe }}
		{{- inscription_form.contact.errors|safe }}

		<p class="help">Inserisci un indirizzo email valido.<br />Questo indirizzo
		verrà usato per confermare la tua richiesta d'iscrizione.</p>
	</fieldset>

	<fieldset class="names">
		<legend>Pt. 2: Nominativi degli iscritti</legend>

		<table id="names">
			{%- for f in subscription_formset.forms %}
			<tr>
				<td class="first">{{ f.first_name|safe }}</td>
				<td class="name">{{ f.last_name|safe }}</td>
				<td class="error">{{ f.first_name.errors|safe }} {{ f.last_name.errors|safe }}</td>
			</tr>
			{%- endfor %}
		</table>

		{% for error in subscription_formset.non_form_errors() -%}
		<p class="error">{{ error }}</p>
		{% endfor -%}

		<p class="help">Inserisci i nominativi delle persone che vuoi iscrivere all'evento, <strong>incluso te stesso</strong>.</p>
		<p class="help">Puoi iscrivere al massimo {{ event.rate }} persone per ogni indirizzo email.</p>
	</fieldset>

	{{ subscription_formset.management_form|safe }}

	<div>
		<button type="reset">Reimposta</button>
		<button type="submit">Invia</button>
	</div>
</form>
</section>
{%- endblock %}
