{% extends "inscriptions/base.html" %}

{% block page_title %}Iscrizione a “{{ event.event.title }}”{% endblock %}

{% block bodyid %}ticketcorner-inscription{% endblock %}

{% block additional_breadcrumbs %}
<li><a href="{% url inscriptions.subscribe list_id=event.pk %}">Iscrizione a “{{ event.event.title }}”</a></li>
{% endblock %}

{% block main-content %}

<p>Per iscriverti all'evento “{{ event.event.title }}” riempi il formulario sottostante. Ricorda che inviando il formulario verrai
in primo luogo aggiunto alla lista d'attesa relativa all'evento e, posti disponibili permettendo, ti verrà anche
confermata l'effettiva iscrizione.</p>

<p>Dopo aver inviato il formulario, ti verrà inviata un'email contenente un link che ti permetterà di modificare la tua
richiesta d'iscrizione.</p>

<form action="" method="post" accept-charset="utf-8">
	{% csrf_token %}

	<fieldset class="contact">
		<legend>Pt. 1: Contatto per l'iscrizione</legend>

		{{ inscription_form.contact }}

		{{ inscription_form.non_form_errors }}
		{{ inscription_form.contact.errors }}

		<p class="help">Inserisci un indirizzo email valido.<br />Questo indirizzo
		verrà usato per confermare la tua richiesta d'iscrizione.</p>
	</fieldset>

	<fieldset class="names">
		<legend>Pt. 2: Nominativi degli iscritti</legend>

		<table id="names">
			{% for f in subscription_formset.forms %}
			<tr>
				<td class="first">{{ f.first_name|safe }}</td>
				<td class="name">{{ f.last_name|safe }}</td>
				<td class="error">{{ f.first_name.errors|safe }} {{ f.last_name.errors|safe }}</td>
			</tr>
			{% endfor %}
		</table>

		{% for error in subscription_formset.non_form_errors %}
		<p class="error">{{ error }}</p>
		{% endfor %}

		<p class="help">Inserisci i nominativi delle persone che vuoi iscrivere all'evento, <strong>incluso te stesso</strong>.</p>
		<p class="help">Puoi iscrivere al massimo {{ event.rate }} persone per ogni indirizzo email.</p>
	</fieldset>

	{{ subscription_formset.management_form|safe }}

	<div>
		<button type="reset"><span>Reimposta</span></button>
		<button type="submit"><span>Invia</span></button>
	</div>
</form>

{% endblock %}
