@charset "UTF-8";
/* line 17, ../../../../../../usr/local/Cellar/ruby/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../usr/local/Cellar/ruby/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../usr/local/Cellar/ruby/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../usr/local/Cellar/ruby/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../usr/local/Cellar/ruby/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../usr/local/Cellar/ruby/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../usr/local/Cellar/ruby/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../usr/local/Cellar/ruby/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../usr/local/Cellar/ruby/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 114, ../../../../../../usr/local/Cellar/ruby/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 7, ../support/sass/master.sass */
body {
  background: #e7e7e7;
  max-width: 1050px;
  margin: 20px auto 0;
  font-size: 10px;
  font-family: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
}

/* line 14, ../support/sass/master.sass */
header {
  width: 1030px;
  margin-right: 20px;
  padding-top: 20px;
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  -moz-box-shadow: #dddddd 0px -1px 1px;
  -webkit-box-shadow: #dddddd 0px -1px 1px;
  -o-box-shadow: #dddddd 0px -1px 1px;
  box-shadow: #dddddd 0px -1px 1px;
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  -o-border-top-left-radius: 2px;
  -ms-border-top-left-radius: 2px;
  -khtml-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  -o-border-top-right-radius: 2px;
  -ms-border-top-right-radius: 2px;
  -khtml-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
  background: #f5f5f5;
}
/* line 24, ../support/sass/master.sass */
header h1 {
  width: 220px;
  text-align: center;
}
/* line 28, ../support/sass/master.sass */
header a {
  display: block;
}

/* line 31, ../support/sass/master.sass */
.twitterbox {
  margin-top: 2em;
  text-align: center;
  line-height: 1.35em;
  color: #666666;
  text-shadow: white, 0px 1px 0px;
}
/* line 38, ../support/sass/master.sass */
.twitterbox a {
  color: #6381a3;
  text-decoration: none;
}
/* line 42, ../support/sass/master.sass */
.twitterbox a:hover {
  text-decoration: underline;
}

/* line 45, ../support/sass/master.sass */
.searchbox {
  float: right;
  margin: -40px 36px 0 0;
}
/* line 49, ../support/sass/master.sass */
.searchbox input {
  width: 13em;
  font-size: 1.6em;
}

/* line 54, ../support/sass/master.sass */
.primary-navigation {
  margin: -172px 20px -5px 220px;
  overflow: auto;
  padding: 20px 0;
}
/* line 59, ../support/sass/master.sass */
.primary-navigation li {
  float: left;
}
/* line 62, ../support/sass/master.sass */
.primary-navigation a {
  color: #666666;
  font-family: "Helvetica Neue";
  font-weight: lighter;
  text-decoration: none;
  font-size: 1.5em;
  letter-spacing: 1px;
  display: block;
  padding: 0.5em 0.7em 0.6em;
  margin: -0.3em 0.4em;
  text-transform: uppercase;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid transparent;
  text-shadow: white 0px 1px 0px;
}
/* line 77, ../support/sass/master.sass */
.primary-navigation a:hover {
  border-color: #d6d6d6;
  -moz-box-shadow: inset 0 0 5px #dddddd;
  -webkit-box-shadow: inset 0 0 5px #dddddd;
  -o-box-shadow: inset 0 0 5px #dddddd;
  box-shadow: inset 0 0 5px #dddddd;
  background: #eeeeee;
}
/* line 83, ../support/sass/master.sass */
.primary-navigation li + li {
  border-left: 1px solid #dddddd;
}

/* line 87, ../support/sass/master.sass */
.secondary-navigation ul {
  border-top: 1px solid #e3e3e3;
}
/* line 90, ../support/sass/master.sass */
.secondary-navigation li {
  border-bottom: 1px solid #e3e3e3;
  line-height: 18px;
}
/* line 94, ../support/sass/master.sass */
.secondary-navigation li.active > a {
  color: #333333;
  font-weight: bold;
  background-position: 100% 50%;
}
/* line 99, ../support/sass/master.sass */
.secondary-navigation li.active > a:hover {
  background-color: transparent;
}
/* line 102, ../support/sass/master.sass */
.secondary-navigation a {
  color: #3b5998;
  padding: 6px 6px 6px 10px;
  text-decoration: none;
  display: block;
  background-image: url("../images/arrow-right.png");
  background-repeat: no-repeat;
  background-position: 100% 150%;
}
/* line 111, ../support/sass/master.sass */
.secondary-navigation a:hover {
  background-color: #f8f8f8;
  background-position: 100% 50%;
  color: #162138;
}
/* line 116, ../support/sass/master.sass */
.secondary-navigation ul ul {
  border: 0;
  padding-left: 20px;
  padding-bottom: 5px;
}
/* line 121, ../support/sass/master.sass */
.secondary-navigation ul ul li {
  border: 0;
}
/* line 124, ../support/sass/master.sass */
.secondary-navigation ul ul li.active > a {
  font-weight: bold;
}
/* line 127, ../support/sass/master.sass */
.secondary-navigation ul ul a {
  background: 0;
  padding: 3px 6px;
  color: #444444;
}
/* line 132, ../support/sass/master.sass */
.secondary-navigation ul ul a:hover {
  background: 0;
}

/* line 136, ../support/sass/master.sass */
.breadcrumbs {
  margin-top: 5px;
}
/* line 139, ../support/sass/master.sass */
.breadcrumbs li {
  display: inline;
}
/* line 142, ../support/sass/master.sass */
.breadcrumbs li + li:before {
  content: " › ";
}

/* line 146, ../support/sass/master.sass */
footer {
  font-size: 1.1em;
  color: #999999;
  clear: both;
  width: 830px;
  padding: 2em 0 2em 220px;
  text-align: center;
}

/* line 155, ../support/sass/master.sass */
.sidebar {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1.3em;
  background: #f5f5f5;
  border-left: 1px solid #d9d9d9;
  border-bottom: 1px solid #d3d3d3;
  float: left;
  width: 220px;
  padding: 140px 15px 2.2em;
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -o-border-bottom-left-radius: 2px;
  -ms-border-bottom-left-radius: 2px;
  -khtml-border-bottom-left-radius: 2px;
  border-bottom-left-radius: 2px;
  -moz-box-shadow: #dddddd 0px 1px 1px;
  -webkit-box-shadow: #dddddd 0px 1px 1px;
  -o-box-shadow: #dddddd 0px 1px 1px;
  box-shadow: #dddddd 0px 1px 1px;
}

/* line 158, ../support/sass/master.sass */
.content {
  font-size: 1.2em;
  line-height: 1.7em;
  /* Exceptions */
}
/* line 4, ../support/sass/_content.sass */
.content h1 {
  font-size: 2em;
  color: #333333;
}
/* line 8, ../support/sass/_content.sass */
.content h2 {
  font-weight: bold;
  font-size: 1.3em;
  margin-top: 1.538em;
  margin-bottom: 0.769em;
  color: #333333;
}
/* line 15, ../support/sass/_content.sass */
.content a {
  color: #3b5998;
  text-decoration: none;
}
/* line 19, ../support/sass/_content.sass */
.content a:hover {
  text-decoration: underline;
}
/* line 22, ../support/sass/_content.sass */
.content hr {
  border: 0;
  border-top: 1px solid #dddddd;
  margin: 1.5em 0;
}
/* line 27, ../support/sass/_content.sass */
.content p {
  margin: 1em 0;
  text-align: justify;
}
/* line 31, ../support/sass/_content.sass */
.content ul {
  list-style-type: disc;
  padding: 0 0 0 2em;
}
/* line 37, ../support/sass/_content.sass */
.content .breadcrumbs {
  padding: 0;
}

/* line 161, ../support/sass/master.sass */
.main {
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 3em 2.5em 1.5em;
  background: white;
  border-left: 1px solid #d3d3d3;
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
  width: 830px;
  -moz-box-shadow: #dfdfdf -1px 0px 7px, #dddddd 0px 1px 1px;
  -webkit-box-shadow: #dfdfdf -1px 0px 7px, #dddddd 0px 1px 1px;
  -o-box-shadow: #dfdfdf -1px 0px 7px, #dddddd 0px 1px 1px;
  box-shadow: #dfdfdf -1px 0px 7px, #dddddd 0px 1px 1px;
  border-right: 1px solid #d9d9d9;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
}
