{% load cms_tags menu_tags sekizai_tags %}<!DOCTYPE html>
<html lang="it">
<head>
	<meta charset="utf-8" />
	
	<title>UGA · {% block head_title %}{% page_attribute "page_title" %}{% endblock %}</title>

	<meta name="viewport" content="width=1100px;"/>

	{% render_block "css" %}
	
	{% render_block "js" %}
	{% addtoblock "css" %}<link rel="stylesheet" href="{{ STATIC_URL }}styles/master.css" />{% endaddtoblock %}
	{% addtoblock "js" %}<script src="{{ STATIC_URL }}scripts/jquery-1.6.2.js"></script>{% endaddtoblock %}
	{% addtoblock "js" %}<script src="{{ STATIC_URL }}scripts/master.js"></script>{% endaddtoblock %}
</head>
<body id="{% block bodyid %}{% endblock %}">
	<header>
		<h1><a href="{% page_url "index" %}"><img src="{{ STATIC_URL }}images/logo.png" alt="UGA" /></a></h1>
	</header>
	
	<nav class="primary-navigation">
		<ul class="main-menu">
			{% show_menu 0 0 0 1 %}
		</ul>
	</nav>
	
	<aside class="searchbox">
		<form>
			<input type="search" placeholder="Cerca…" />
		</form>
	</aside>
	{% block content %}{% endblock %}
	<footer>
		<p>© 1993-{% now "Y" %} UGA Freeborgo. Tutti i diritti all'asta. In parole povere, ruba qualcosa da questo sito e tutti ti prenderanno per pazzo.</p>
	</footer>
</body>
</html>
